/vendor
/wp

/wp-config.php

/content/languages
/content/upgrade
/content/uploads

/content/plugins/*
!/content/plugins/ludoboost-settings
!/content/plugins/ludoboost-banner
!/content/plugins/ludoboost-newsletter
!/content/plugins/ludoboost-contact-form

/content/themes/*
!/content/themes/ludoboost

content/db.php